# ide
.idea
.vscode

# python
.env
.venv
venv
__pycache__
usr_lib/__pycache__

#macos
.DS_Store


# cv branch
uploads
output
temp_uploads
results
processed

database.db
out.txt
fer
log.txt
out.txt


visualization/main/log.txt
visualization/main/out.txt
visualization/main/log.txt
