<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ЯТопология - Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reg.css') }}">
</head>
<body>
    <header class="header">
        <img src="/static/images/Yandex_icon.svg.png" alt="Яндекс" width="60">
        <h1>
        <div>Топология</div>
        </h1>
    </header>
    <main class="main">
        <div class="login-container">
            <h1 class="login-title">Регистрация</h1>
            <form method="post">
                <div class="form-group">
                    <label for="username" for="form-label">Логин</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="password2" class="form-label">Повторите пароль</label>
                    <input type="password" class="form-control" id="password2" name="password2">
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn">Регистрация</button>
                    <button  class="btn2" onclick="window.location.href='/login'">Вход</button>
                </div>
                <!-- <iframe src="https://assets.pinterest.com/ext/embed.html?id=1034420608180818791" height="899" width="450" frameborder="0" scrolling="no" ></iframe> -->
            </form>
        </div>
    </main>
</body>
</html> 